---
- name: Configure network time
  hosts: cisco
  connection: network_cli
  gather_facts: false

  tasks:
    - name: Dar de alta el puerto
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ survey_port_name }}"
            description: "{{ survey_description | default('No description provided') }}"
            speed: "{{ survey_speed | default('10000') }}"
            enabled: yes
        state: merged
