---
- name: PORT CREATION ON A CISCO ROUTER IOS CSR1000V
  hosts: cisco
  connection: network_cli
  gather_facts: false

  tasks:
    - name: Ensure input values are correct
      assert:
        that:
          - "survey_port_name is defined"
        fail_msg: "The value of 'survey_port_name' is mandatory."

    - name: Ensure if the port is already up
      cisco.ios.ios_command:
        commands:
          - "show interfaces {{ survey_port_name }}"
      register: port_status
      ignore_errors: yes
    
    - name: Ensure if the port is already in use
      fail:
        msg: "Port {{ survey_port_name }} is already enabled and in use."
      when: "port_status.stdout | search('is up') is match"

    - name: Enable port
      cisco.ios.ios_interfaces:
        config:
          - name: "{{ survey_port_name }}"
            description: "{{ survey_description | default(omit) }}"
            mtu: "{{ survey_mtu | default(omit) }}"
            speed: "{{ survey_speed | default(omit)}}"
            enabled: yes
        state: merged
      when: not port_status.stdout | search('is up') is match

    - name: Ensure VLAN if provided
      assert:
        that:
          - "survey_vlan is defined"
        fail_msg: "The value of 'survey_vlan' is mandatory."

    - name: Add VLAN if specified
      cisco.ios.ios_vlan:
        vlan_id: "{{ survey_vlan }}"
        name: "VLAN {{ survey_vlan }}"
        state: present

    - name: Ensure VLAN IP if provided
      assert:
        that:
          - "survey_vlan_ip is defined"
        fail_msg: "The value of 'survey_vlan_ip' is mandatory."

    - name: Add IP address to VLAN if specified
      cisco.ios.ios_interface:
        config:
          - name: "Vlan{{ survey_vlan }}"
            ipv4:
              address: "{{ survey_vlan_ip }}"
        state: present
